<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828324786801-hc14ee7hn0p5qho2om1p222qec75afdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828324786801-hc14ee7hn0p5qho2om1p222qec75afdv</string>
	<key>API_KEY</key>
	<string>AIzaSyDJlBHbQ90k5R7Vt2S0gHNCGhAMFMPgZw0</string>
	<key>GCM_SENDER_ID</key>
	<string>828324786801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perfumeRecsys</string>
	<key>PROJECT_ID</key>
	<string>perfume-recsys</string>
	<key>STORAGE_BUCKET</key>
	<string>perfume-recsys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828324786801:ios:fbcfc83d0cf8fd944761d0</string>
</dict>
</plist>